In [2]:
import pandas as pd

In [9]:
# Read in the files
file1 = pd.read_csv('data/2020.csv')
file2 = pd.read_csv('data/2021.csv')
file3 = pd.read_excel('data/2022.xlsx')
file4 = pd.read_csv('data/2022.txt', sep='\t')

In [10]:
file1

,Year,Month,Channel,Brand,Weight range,Units (in 1000),Value (in 1000 rub),Volume (in 1000 kg),Number of stores
0,2020,1.0,Hypermarkets,Green,200-249G,16.3202,936.803413,3.4272,477.0
1,2020,1.0,Hypermarkets,Green,350-399G,87.8634,7019.116508,30.7522,754.0
2,2020,1.0,Hypermarkets,Green,400-599G,35.7182,4166.453788,17.8592,629.0
3,2020,1.0,Hypermarkets,Green,600-899G,0.3580,66.387690,0.2685,29.0
4,2020,1.0,Hypermarkets,Blue,400-599G,16.8368,3227.992656,6.7346,663.0
...,...,...,...,...,...,...,...,...,...
1269,2019,12.0,Supermarkets,White,<200G,100.0000,10000.000000,1000.0000,NaN
1270,2019,12.0,Supermarkets,Dim,350-399G,100.0000,10000.000000,1000.0000,NaN
1271,2019,12.0,Supermarkets,Dim,400-599G,100.0000,10000.000000,1000.0000,NaN
1272,2019,12.0,Supermarkets,Vivid,<200G,100.0000,10000.000000,1000.0000,NaN
1273,2019,12.0,Supermarkets,Vivid,350-399G,100.0000,10000.000000,1000.0000,NaN

In [11]:
file2

,Year,Month,Channel,Brand,Weight range,Units (in 1000),Value (in rub),Volume (in 1000 kg),Number of stores
0,2021.0,1.0,Hypermarkets,Green,200-249G,12.7583,817789.128,2.6792,545.0
1,2021.0,1.0,Hypermarkets,Greennn#!,350-399G,61.6034,5598975.814,21.5612,798.0
2,2021.0,1.0,Hypermarkets,Greennn#!,400-599G,47.7524,4638537.271,23.8763,569.0
3,2021.0,1.0,Hypermarkets,Greennn#!,600-899G,0.0017,123.992,0.0013,1.0
4,2021.0,1.0,Hypermarkets,Blue,200-249G,0.0509,5628.921,0.0101,6.0
...,...,...,...,...,...,...,...,...,...
670,2021.0,11.0,Minimarkets,Greennn#!,100-199G,11.4728,749057.600,2.2945,1710.0
671,2021.0,11.0,Supermarkets,Greennn#!,100-199G,17.9486,1339453.100,3.5896,2387.0
672,2021.0,12.0,Hypermarkets,Greennn#!,100-199G,10.5903,748857.900,2.1180,428.0
673,2021.0,12.0,Minimarkets,Greennn#!,100-199G,7.8182,549344.300,1.5636,1053.0
674,2021.0,12.0,Supermarkets,Greennn#!,100-199G,25.2956,1721988.600,5.0591,2407.0

In [12]:
file3

          Date  Year  MonthNum  WeekDayNum  WeekYearNum  MonthDayNum
0   2022-01-01  2022         1           7            1            1
1   2022-01-02  2022         1           1            2            2
2   2022-01-03  2022         1           2            2            3
3   2022-01-04  2022         1           3            2            4
4   2022-01-05  2022         1           4            2            5
..         ...   ...       ...         ...          ...          ...
360 2022-12-27  2022        12           3           53           27
361 2022-12-28  2022        12           4           53           28
362 2022-12-29  2022        12           5           53           29
363 2022-12-30  2022        12           6           53           30
364 2022-12-31  2022        12           7           53           31

[365 rows x 6 columns]

In [13]:
file4

,Year,Month,Channel,Brand,Weight range,Units (in 1000),Value (in 1000 rub),Volume (in 1000 kg),Number of stores
0,2022,1,Hypermarkets,Green,200-249G,15.2249,899.265493,3.1972,536
1,2022,1,Hypermarkets,Green,350-399G,58.2443,5622.580442,20.3855,758
2,2022,1,Hypermarkets,Green,400-599G,38.4102,4457.22479,19.2051,633
3,2022,1,Hypermarkets,Blue,200-249G,0.1327,15.948333,0.0265,10
4,2022,1,Hypermarkets,Blue,400-599G,44.9287,7611.563208,17.9715,728
...,...,...,...,...,...,...,...,...,...
676,2022,11,Minimarkets,Green,100-199G,1.1740,97.2256,0.2348,187
677,2022,11,Supermarkets,Green,100-199G,4.2365,353.291,0.8473,778
678,2022,12,Hypermarkets,Green,100-199G,0.1749,14.3406+,0.0350,22
679,2022,12,Minimarkets,Green,100-199G,2.0995,123.6008+,0.4200,200
680,2022,12,Supermarkets,Green,100-199G,2.5092,223.1901+,0.5018,514

In [15]:
# Combine the files
combined = pd.concat([file1, file2, file4])
combined

,Year,Month,Channel,Brand,Weight range,Units (in 1000),Value (in 1000 rub),Volume (in 1000 kg),Number of stores,Value (in rub)
0,2020.0,1.0,Hypermarkets,Green,200-249G,16.3202,936.803413,3.4272,477.0,NaN
1,2020.0,1.0,Hypermarkets,Green,350-399G,87.8634,7019.116508,30.7522,754.0,NaN
2,2020.0,1.0,Hypermarkets,Green,400-599G,35.7182,4166.453788,17.8592,629.0,NaN
3,2020.0,1.0,Hypermarkets,Green,600-899G,0.3580,66.38769,0.2685,29.0,NaN
4,2020.0,1.0,Hypermarkets,Blue,400-599G,16.8368,3227.992656,6.7346,663.0,NaN
...,...,...,...,...,...,...,...,...,...,...
676,2022.0,11.0,Minimarkets,Green,100-199G,1.1740,97.2256,0.2348,187.0,NaN
677,2022.0,11.0,Supermarkets,Green,100-199G,4.2365,353.291,0.8473,778.0,NaN
678,2022.0,12.0,Hypermarkets,Green,100-199G,0.1749,14.3406+,0.0350,22.0,NaN
679,2022.0,12.0,Minimarkets,Green,100-199G,2.0995,123.6008+,0.4200,200.0,NaN
680,2022.0,12.0,Supermarkets,Green,100-199G,2.5092,223.1901+,0.5018,514.0,NaN

In [16]:
# Write the combined dataframe to a new Excel file
combined.to_excel('data/2020-2022.xlsx', index=False)